html {
  line-height: 1.5;
}
a,
input,
button,
img,
div,
p {
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-focus-ring-color: rgba(0, 0, 0, 0);
}
.border-imgcol {
  border-image: -webkit-linear-gradient(top left, #ffafb1 0%, #febce6 32%, #b5eaff 69%, #cffffa 100%) 100 100 100 100;
}
// .swiper-slide {
//   margin-right: 0 !important;
// }
.swiper-button-next:after,
.swiper-button-prev:after {
  content: ' ' !important;
}

#download {
  .downPc {
    @apply -mt-12 hidden md:-mt-32 md:block;
  }
  .downH5 {
    @apply -mt-20 block md:hidden;
  }
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('/assets/fonts/Roboto-Medium.ttf');
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('/assets/fonts/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'Avenir Next';
  src: url('/assets/fonts/Avenir Next.ttf');
}
body {
  @apply bg-white;
  font-family: 'Avenir Next' !important;
}

h2 {
  font-family: 'Roboto-Medium' !important;
}

.container {
  @apply mx-auto max-w-[1200px];
}

.skeleton-wap {
  @apply p-4;
  .ant-skeleton-element {
    @apply w-full rounded-xl pb-[2.25rem];
  }
  .ant-skeleton-image {
    @apply h-[207px] w-full leading-[207px];
    svg {
      @apply h-[100px] w-[100px];
    }
  }
}
