.index-wrap {
  @apply bg-white font-medium;
  .head-img {
    @apply relative p-4 text-white;
    .time-onimg {
      @apply absolute left-6 top-7 rounded-[0.25rem] bg-black p-2 text-base;
    }
    .status-onimg {
      @apply absolute  left-6 bottom-7  rounded-[0.25rem] bg-black bg-opacity-30 px-2 py-1 text-xs;
    }
    .disabled {
      @apply bg-whitef0 bg-opacity-80 text-gray6a;
    }
  }
  .baseinfo-wrap {
    @apply mt-5 rounded-xl bg-white px-4  pb-5;
    .title {
      @apply relative text-[1.625rem] font-bold leading-6;
      font-family: 'Avenir Next' !important;
      .icon {
        @apply absolute top-0 ml-2 h-[1.125rem] w-[2.175rem] scale-[0.83] rounded-sm bg-greenMain text-center text-xs leading-[1.2rem] text-white;
      }
    }
    .nums {
      @apply mt-6 overflow-hidden;
      .nums-item {
        @apply float-left mr-4 overflow-hidden rounded-sm  text-xs;
        .tip {
          @apply bg-graybf p-1 leading-6 text-white;
        }
        .number {
          @apply bg-grayf5 p-1 font-bold leading-6 text-gray333;
        }
      }
    }
  }
  .staticinfo-wrap {
    @apply border-t-8 border-grayf9 px-4 py-5;
    .title {
      @apply mb-4 text-lg font-bold text-gray333;
      font-family: 'Avenir Next' !important;
    }
    .title.introduction {
      @apply mb-3;
    }
    .content-wrap {
      @apply mb-7  text-sm leading-6;
      // .content {
      //   @apply h-10 text-gray666 line-clamp-2;
      // }
    }
    .spec-info {
      @apply text-sm;
      .item {
        @apply mb-3 w-[7.5rem];
        .needTruncate {
          @apply truncate;
        }
        img {
          @apply float-right;
        }
        .icon-copy {
          @apply ml-[0.125rem] h-[1.125rem] w-[1.125rem];
        }
        .icon-ques {
          @apply ml-1 h-[0.8125rem] w-[0.8125rem]; // mt-[0.125rem]
        }
      }
      .info-title {
        @apply float-left flex-none leading-4 text-gray666;
      }
      .info-content {
        @apply flex flex-1 flex-col items-end text-right leading-4 text-gray333;
        .item {
          @apply relative flex items-center justify-end;
        }
        .bubble {
          @apply absolute right-[-1rem] bottom-0;
          img {
            max-width: 13.375rem;
            @apply h-[7.1875rem] w-[13.375rem];
          }
          .bubble-content {
            @apply absolute left-0 top-0 h-full w-full break-words px-[1.5rem] pt-[1.75rem] text-left text-xs leading-5;
          }
        }
      }
      .spec-tip {
        @apply relative pl-[0.625rem] text-xs leading-5 text-gray999;
        .icon-point {
          @apply absolute left-0 top-1 h-[0.375rem] w-[0.375rem];
        }
        // p {
        //   @apply h-8 line-clamp-2;
        // }
      }
    }
  }
  .license {
    @apply flex items-center justify-between pb-28 text-lg font-bold;
    .title {
      @apply mb-0;
    }
    img {
      @apply h-[1.0625rem] w-[1.0625rem];
    }
  }
  .fixBottom {
    transform: translateZ(0) !important;
    @apply fixed left-0 bottom-0 flex w-full items-center justify-between border-t-[1px] border-grayef  bg-white p-4 text-[1.375rem] font-bold text-greenDark;
    .end {
      @apply text-gray999;
    }
    .button {
      min-width: 10rem;
      @apply rounded-lg bg-gray333 px-4 py-[0.65rem] text-center text-lg text-white;
    }

    .button-disable {
      @apply bg-grayEA font-normal text-gray999;
    }
  }
  .more {
    @apply font-semibold text-gray333;
  }
}

.license-wrap{
  .privacy-policy {
    @apply px-4 text-sm font-normal md:px-0 md:pt-[100px] md:text-font22xl;
    .privacy-data {
      @apply text-center text-sm leading-[37px] text-gray999 md:text-left;
    }
    .title {
      @apply text-[32px] leading-10 md:text-[2.63rem];
    }
    h2 {
      @apply mb-8 pt-4 text-font22xl leading-9 md:text-2xl;
    }
    p {
      @apply mb-6 text-base text-gray666 md:mb-11 md:leading-[30px];
    }
    a {
      @apply hover:text-green2d;
    }
    .privacy-general {
      @apply mt-6 md:mt-[3.8rem];
    }
  }
  
  
}
